// ------------------------------------------------------------------------- //
// #GLYPHS
// ------------------------------------------------------------------------- //



$glyph-quote-left-single:   "\2018";    /* ‘ */
$glyph-quote-right-single:  "\2019";    /* ’ */
$glyph-quote-left-double:   "\201C";    /* “ */
$glyph-quote-right-double:  "\201D";    /* ” */
$glyph-em-dash:             "\2014";    /* — */
$glyph-en-dash:             "\2013";    /* – */
$glyph-vertical-line:       "\007C";    /* | */
$glyph-no-break-space:      "\00A0";    /*   */
$glyph-cross:               "\2716";    /* ✖ */
$glyph-forward-slash:       "\2044";    /* / */
