@model Gro.Core.ContentTypes.Blocks.InformationBlock

<div class="lm__block address-block gray-background xhtml-content">
    <h2 class="heading-title-2">@Html.PropertyFor(x=>x.Heading)</h2>
    @Html.PropertyFor(x=>x.Body)
</div>
