<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <log4net>
    <appender name="errorFileLogAppender" type="log4net.Appender.RollingFileAppender" xdt:Transform="SetAttributes" xdt:Locator="Match(key)">
      <file xdt:Transform ="Replace" value="E:\LogFiles\EPiServer\Gro_devtest\EPiServerErrors.log" />
    </appender>
  </log4net>
</configuration>
