<appSettings>
  <add key="environmentName" value="Debug"/>

  <add key="Endpoint.IAgreementService" value="http://sr02009/Apps/AgreementServiceInt/AgreementServiceInt.AgreementService.svc"/>
  <add key="Endpoint.IDeliveryAssuranceService" value="http://sr02009/Apps/DeliveryAssuranceServiceInt/DeliveryAssuranceServiceInt.DeliveryAssuranceService.svc"/>
  <add key="Endpoint.IFoljesedelService" value="http://sr02009/Apps/FoljesedelServiceInt/FoljesedelServiceInt.FoljesedelService.svc"/>
  <add key="Endpoint.IEmailService" value="http://sr02009/EmailServiceInt/EmailService.svc"/>
  <add key="Endpoint.IGrobarhetService" value="http://sr02009/Apps/GrobarhetServiceInt/GrobarhetServiceInt.GrobarhetService.svc"/>
  <add key="Endpoint.IMessagehubService" value="http://sr02009/Farmday/MessageServiceInt/MessagehubService.MessagehubService.svc"/>
  <add key="Endpoint.IPrisgrafService" value="http://sr02009/Apps/PrisgrafServiceInt/PrisgrafServiceInt.PrisgrafService.svc"/>
  <add key="Endpoint.ISecurityService" value="http://sr02009/Farmday/SecurityServiceInt/SecurityServiceInt.SecurityService.svc"/>
  <add key="Endpoint.IFraktService" value="http://sr02009/Apps/FraktServiceInt/FraktServiceInt.FraktService.svc"/>
  <add key="Endpoint.IWeighInService" value="http://sr02009/Apps/WeighInServiceInt/WeighInServiceInt.WeighInService.svc"/>
  <add key="Endpoint.IUserTermsOfUseService" value="http://sr02009/Farmday/UserTermsOfUseService/UserTermsOfUseService.UserTermsOfUseService.svc"/>
  <add key="Endpoint.ILM2OrganisationService" value="http://sr02009/Farmday/LM2OrganisationServiceInt/LM2OrganisationService.LM2OrganisationService.svc"/>
  <add key="Endpoint.WSPersonService" value="http://sci-api-tst.work.lantmannen.lan:80/ws/LM_Farmday_WSPersonService_Virtual/1.0" />
  <add key="Endpoint.WSSessionService" value="http://sci-api-tst.work.lantmannen.lan:80/ws/LM_Farmday_WSSessionService_Virtual/1.0" />
  <add key="Endpoint.WSRequestService" value="https://10.2.54.129:9082/itim/services/WSRequestServiceService" />
  <add key="Endpoint.getAllMachinesForCustomerId_PortType" value="http://sr02371.work.lantmannen.lan:9955/ws/LMMA_MAS_C4_GetAllMachinesForCustomerId/1" />
  <add key="Endpoint.updateMachineForCustomerId_PortType" value="http://sr02371.work.lantmannen.lan:9955/ws/LMMA_MAS_C4_saveMachineForCustomerId/1" />
  <add key="Endpoint.getMachineBySysId_PortType" value="http://sci-api-tst.work.lantmannen.lan/ws/LMMA_MAS_C4_GetMachineBySysId_VS/1.0" />
  <add key="Endpoint.ILogiWebService" value="http://sr02009/Apps/LogiWebServiceInt/LogiWebServiceInt.LogiWebService.svc" />
  <add key="Endpoint.BokaServiceSoap" value="http://sr02009/Centralen/BokaService.asmx" />
  <add key="Endpoint.BokaSoap" value="http://sr02014/BokaWebService_ETT/Boka.asmx" />
  <add key="Endpoint.CustomerSoap" value="http://sr02009/Centralen/Customer.asmx" />
  <add key="Endpoint.ItemsSoap" value="http://sr02009/Centralen/Items.asmx" />
  <add key="Endpoint.IPurchasingAgreementService" value="http://sr02009/Apps_EPiLyft-1.1/PurchasingAgreementServiceInt/PurchasingAgreementServiceInt.PurchasingAgreementService.svc" />
</appSettings>
