<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="episerver" type="EPiServer.Configuration.EPiServerSection, EPiServer.Configuration" />
    <section name="episerver.framework" type="EPiServer.Framework.Configuration.EPiServerFrameworkSection, EPiServer.Framework" restartOnExternalChanges="true" />
    <section name="episerver.baseLibrary" allowDefinition="MachineToApplication" allowLocation="false" type="EPiServer.BaseLibrary.ConfigurationHandler,EPiServer.BaseLibrary" />
    <section name="episerver.shell" type="EPiServer.Shell.Configuration.EPiServerShellSection, EPiServer.Shell" />
    <section name="episerver.search" type="EPiServer.Search.Configuration.SearchSection, EPiServer.ApplicationModules" />
    <section name="episerver.packaging" type="EPiServer.Packaging.Configuration.EPiServerPackagingSection, EPiServer.Packaging" />
    <section name="episerver.search.indexingservice" type="EPiServer.Search.IndexingService.Configuration.IndexingServiceSection, EPiServer.Search.IndexingService" />
    <section name="bvn404Handler" type="BVNetwork.NotFound.Configuration.Bvn404HandlerConfiguration, BVNetwork.EPi404" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" requirePermission="false" />
  </configSections>
  <log4net configSource="EPiServerLog.config"></log4net>
  <appSettings>
    <add key="environmentName" value="Debug" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="TicketUserName" value="WcfExt01_stage" />
    <add key="TicketPassword" value="def321" />
    <add key="TicketPrivateKey" value="21272CE3-99FF-494E-83A3-62C84CE7D733" />
    <add key="TerminsavtalNumber" value="402" />
    <add key="Poolavtal" value="401" />
    <add key="Depaavtal" value="431" />

    <add key="PageInspector:ServerCodeMappingSupport" value="Disabled" />

    <add key="EkonomiSsoKey" value="LVp4q_nWDvmc" />

    <add key="PersonSession.AdminName" value="farmdayws" />
    <add key="PersonSession.Password" value="farmdayws" />
    <add key="LogoutRedirect" value="/pkmslogout" />
    <add key="LoginBankAccountUrl" value="https://lm2stg.lantmannen.com/tfim/sps/LantmannenSPfed/saml20/logininitial?RequestBinding=HTTPPost{0}" />

    <add key="TrackSchenkerUrl" value="https://was.schenker.nu/ctts-a/com.dcs.servicebroker.http.HttpXSLTServlet?request.service=CTTSTYPEA_PLUGIN&amp;request.method=search&amp;request.format=html&amp;reference_type=*DWB&amp;reference_number={referenceNumber}&amp;language=sv&amp;country=SE&amp;request.user.id={userId}&amp;request.user.password={password}" />
    <add key="TrackSchenkerUserID" value="SE1LANTMAN" />
    <add key="TrackSchenkerPassword" value="pe10kl11" />
    <add key="UrlToDeliveryAssurance" value="http://lmlantbruksestg.epipro.se/sv/mina-sidor/Leveransforsakran/Skapa-leveransforsakran/" />
    <add key="TimeLimmitForInternalEdit" value="1" />
    <add key="TimeLimmitForExternalEdit" value="1" />
    <add key="RolesForExternalUsersBulkOperator" value="Extranät Bulklogistik;-;Extranät Logistik" />

    <!--<add key="PersonSession.AdminName" value="farmdayws"/>
    <add key="PersonSession.Password" value="XhuLtKzk=9"/>-->

    <add key="CustomerFolder" value="Customers" />
    <add key="UserFolder" value="Users" />
    <add key="MachineFolder" value="Machines" />
    <add key="MigrateFolderPath" value="~/App_Data/Machines/" />
    <add key="ImageTypes" value="jpg|png" />
    <add key="DocumentTypes" value="pdf" />

    <add key="domainUrl" value="http://localhost"/>
    <add key="publicSitePrefix" value="http://localhost"/>
    <add key="loginUrl" value="/login/index"/>

    <add key="PreDaysDelivery" value="-4" />
    <add key="PostDaysDelivery" value="5" />

    <!-- Harvest and storage period. Month-Date -->
    <add key="harvestPeriodStart" value="01-01" />
    <add key="harvestPeriodEnd" value="10-15" />
    <add key="storagePeriodStart" value="10-15" />
    <add key="storagePeriodEnd" value="07-01" />

    <add key="Endpoint.ILM2CustomerSupportService" value="http://sci-api-tst.work.lantmannen.lan:80/ws/LMFD_TST_CustomerSupportService_VS.LMFD_TST_CustomerSupportService_VSsoaphttp/1.0" />
    <add key="Endpoint.ICustomerSupportService" value="http://sr02009/Apps/CustomerSupportServiceInt/CustomerSupportServiceInt.CustomerSupportService.svc" />
    <add key="Endpoint.IPurchasingMobileService" value="http://sci-api-tst.work.lantmannen.lan/ws/LM_Farmday_PurchasingMobileService_Virtual/1.0" />
    <add key="Endpoint.IAgreementService" value="http://sci-api-tst.work.lantmannen.lan/ws/LM_Farmday_MinaAvtalService_Virtual/1.0" />
    <add key="Endpoint.IDeliveryAssuranceService" value="http://sr02009/apps/DeliveryAssuranceServiceInt/DeliveryAssuranceServiceInt.DeliveryAssuranceService.svc" />
    <add key="Endpoint.IFoljesedelService" value="http://sci-api-tst.work.lantmannen.lan:80/ws/LM_Farmday_FoljesedelService_Virtual/1.0" />
    <add key="Endpoint.IEmailService" value="http://sci-api-tst.work.lantmannen.lan:80/ws/LM_Farmday_EpostService_Virtual/1.0" />
    <add key="Endpoint.IGrobarhetService" value="http://sci-api-tst.work.lantmannen.lan/ws/LM_Farmday_GrobarhetService_Virtual/1.0" />
    <add key="Endpoint.IMessagehubService" value="http://sci-api-tst.work.lantmannen.lan:80/ws/LM_Farmday_MessagehubService_Virtual/2.0" />
    <add key="Endpoint.IPrisgrafService" value="http://sci-api-tst.work.lantmannen.lan:80/ws/PrisgrafService_Virtual/1.0" />
    <add key="Endpoint.IFraktService" value="http://sci-api-tst.work.lantmannen.lan/ws/FraktService_Virtual/1.0" />
    <add key="Endpoint.IWeighInService" value="http://sci-api-tst.work.lantmannen.lan:80/ws/WeighInService_Virtual/1.0" />
    <add key="Endpoint.IUserTermsOfUseService" value="http://sci-api-tst.work.lantmannen.lan:80/ws/LM_Farmday_UserTermsOfUseService_Virtual/1.0" />
    <add key="Endpoint.ILM2OrganisationService" value="http://sci-api-tst.work.lantmannen.lan/ws/LM_Farmday_LM2OrganisationService_Virtual/1.0" />
    <add key="Endpoint.IGrainService" value="http://sci-api-tst.work.lantmannen.lan/ws/LM_Farmday_GrainService_Virtual/1.0" />
    <add key="Endpoint.getAllMachinesForCustomerId_PortType" value="http://sci-api-tst.work.lantmannen.lan/ws/LMMA_MAS_C4_GetAllMachinesForCustomerId_VS/1.0" />
    <add key="Endpoint.updateMachineForCustomerId_PortType" value="http://sci-api-tst.work.lantmannen.lan/ws/LMMA_MAS_C4_updateMachineForCustomerId_VS/1.0" />
    <add key="Endpoint.deleteMachineForCustomerId_PortType" value="http://sci-api-tst.work.lantmannen.lan/ws/LMMA_MAS_C4_deleteMachineForCustomerId_VS/1.0" />
    <add key="Endpoint.GetMachineByRegNumber_PortType" value="http://sci-api-tst.work.lantmannen.lan/ws/LMMA_MAS_C4_GetMachineByRegNumber_VS/1.0" />
    <add key="Endpoint.getMachineBySysId_PortType" value="http://sci-api-tst.work.lantmannen.lan/ws/LMMA_MAS_C4_GetMachineBySysId_VS/1.0" />
    <add key="Endpoint.ILogiWebService" value="http://sr02009/Apps/LogiWebServiceInt/LogiWebServiceInt.LogiWebService.svc" />
    <add key="Endpoint.BokaServiceSoap" value="http://sr02009/Centralen/BokaService.asmx" />
    <add key="Endpoint.BokaSoap" value="http://sr02014/BokaWebService_ETT/Boka.asmx" />
    <add key="Endpoint.CustomerSoap" value="http://sr02009/Centralen/Customer.asmx" />
    <add key="Endpoint.ItemsSoap" value="http://sr02009/Centralen/Items.asmx" />
    <add key="Endpoint.IPurchasingAgreementService" value="http://sr02009/Apps_EPiLyft-1.1/PurchasingAgreementServiceInt/PurchasingAgreementServiceInt.PurchasingAgreementService.svc" />
    <add key="Endpoint.ISecurityService" value="http://sci-api-tst.work.lantmannen.lan/ws/LM_Farmday_NySecurityService_Virtual/2.0" />
    <add key="Endpoint.WSPersonService" value="http://sci-api-tst.work.lantmannen.lan:80/ws/LM_Farmday_WSPersonService_Virtual/1.0" />
    <add key="Endpoint.WSSessionService" value="http://sci-api-tst.work.lantmannen.lan:80/ws/LM_Farmday_WSSessionService_Virtual/1.0" />
    <add key="Endpoint.WSRequestService" value="http://sci-api-tst.work.lantmannen.lan/ws/LM_Farmday_WSRequestService_VS/1.0" />
  </appSettings>
  <system.web>
    <httpCookies httpOnlyCookies="true" />
    <compilation debug="true" targetFramework="4.5.2" optimizeCompilations="true">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=5.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <pages validateRequest="false" enableEventValidation="true" pageParserFilterType="System.Web.Mvc.ViewTypeParserFilter, System.Web.Mvc, Version=5.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" enableViewState="false">
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
        <add namespace="EPiServer.Shell.Web.Mvc.Html" />
        <add namespace="EPiServer.Framework.Web.Mvc.Html" />
      </namespaces>
      <controls>
        <add tagPrefix="EPiServer" namespace="EPiServer.Web.WebControls" assembly="EPiServer" />
        <add tagPrefix="EPiServer" namespace="EPiServer.Web.WebControls" assembly="EPiServer.Web.WebControls" />
        <add tagPrefix="XForms" namespace="EPiServer.XForms.WebControls" assembly="EPiServer.XForms" />
        <add tagPrefix="EPiServer" namespace="EPiServer.Framework.Web.WebControls" assembly="EPiServer.Framework" />
      </controls>
    </pages>
    <globalization culture="en-US" uiCulture="en" requestEncoding="utf-8" responseEncoding="utf-8" resourceProviderFactoryType="EPiServer.Framework.Localization.LocalizationServiceResourceProviderFactory, EPiServer.Framework" />
    <httpRuntime requestValidationMode="2.0" maxRequestLength="8388608" />
    <caching>
      <outputCacheSettings>
        <outputCacheProfiles>
          <add name="ClientResourceCache" enabled="true" duration="3600" varyByParam="*" varyByContentEncoding="gzip;deflate" />
        </outputCacheProfiles>
      </outputCacheSettings>
    </caching>
    <authentication mode="Forms">
      <forms name=".EPiServerLogin" loginUrl="Util/login.aspx" timeout="120" defaultUrl="~/" />
    </authentication>
    <profile defaultProvider="DefaultProfileProvider">
      <properties>
        <add name="Address" type="System.String" />
        <add name="ZipCode" type="System.String" />
        <add name="Locality" type="System.String" />
        <add name="Email" type="System.String" />
        <add name="FirstName" type="System.String" />
        <add name="LastName" type="System.String" />
        <add name="Language" type="System.String" />
        <add name="Country" type="System.String" />
        <add name="Company" type="System.String" />
        <add name="Title" type="System.String" />
        <add name="CustomExplorerTreePanel" type="System.String" />
        <add name="FileManagerFavourites" type="System.Collections.Generic.List`1[System.String]" />
        <add name="EditTreeSettings" type="EPiServer.Personalization.GuiSettings, EPiServer" />
        <add name="ClientToolsActivationKey" type="System.String" />
        <add name="FrameworkName" type="System.String" />
      </properties>
      <providers>
        <add name="DefaultProfileProvider" type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="EPiServerDB" applicationName="/" />
      </providers>
    </profile>
    <membership defaultProvider="MultiplexingMembershipProvider" userIsOnlineTimeWindow="10" hashAlgorithmType="HMACSHA512">
      <providers>
        <clear />
        <add name="MultiplexingMembershipProvider" type="EPiServer.Security.MultiplexingMembershipProvider, EPiServer.Framework" provider1="SqlServerMembershipProvider" provider2="FarmdayMembershipProvider" />
        <add name="WindowsMembershipProvider" type="EPiServer.Security.WindowsMembershipProvider, EPiServer" deletePrefix="BUILTIN\" searchByEmail="true" />
        <add name="SqlServerMembershipProvider" type="System.Web.Providers.DefaultMembershipProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="EPiServerDB" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
        <add name="FarmdayMembershipProvider" type="Gro.Security.FarmdayMembershipProvider, Gro" enableSearchMethods="true" />
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="MultiplexingRoleProvider" cacheRolesInCookie="true">
      <providers>
        <clear />
        <add name="MultiplexingRoleProvider" type="EPiServer.Security.MultiplexingRoleProvider, EPiServer.Framework" provider1="SqlServerRoleProvider" providerMap1="SqlServerMembershipProvider" provider2="FarmdayRoleProvider" providerMap2="FarmdayMembershipProvider" />
        <add name="WindowsRoleProvider" applicationName="/" type="EPiServer.Security.WindowsRoleProvider, EPiServer" />
        <add name="SqlServerRoleProvider" type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="EPiServerDB" applicationName="/" />
        <add name="FarmdayRoleProvider" applicationName="/" type="Gro.Security.FarmdayRoleProvider, Gro" />
      </providers>
    </roleManager>

    <machineKey validationKey="7084A1E66F5BDB898E15A2A4D90349F58F6D662F704B58EADBF267E2CE9472692DB24B19BFE10037F0CFBA11A07E4A93EA004C87A7895AD51117D03543D079F4" decryptionKey="B4BCDD873CF108AB02FB706E85C39537A8E69A0FD51FDE2A" validation="HMACSHA256" decryption="AES" />
  </system.web>
  <system.webServer>
    <urlCompression doStaticCompression="true" doDynamicCompression="true" />
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <add name="InitializationModule" type="EPiServer.Framework.Initialization.InitializationModule, EPiServer.Framework" preCondition="managedHandler" />
      <add name="UrlRewriteModule" type="EPiServer.Web.RoutingUrlRewriteModule, EPiServer" preCondition="managedHandler" />
      <add name="ShellRoutingModule" type="EPiServer.Shell.Web.Routing.ShellRoutingModule, EPiServer.Shell" />
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      <add name="UrlRoutingHandler" preCondition="integratedMode" verb="*" path="UrlRouting.axd" type="System.Web.HttpForbiddenHandler, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </handlers>
    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="1.00:00:00" />
    </staticContent>
    <caching>
      <profiles>
        <add extension=".gif" policy="CacheForTimePeriod" kernelCachePolicy="CacheUntilChange" duration="0.01:00:00" location="Any" />
        <add extension=".png" policy="CacheForTimePeriod" kernelCachePolicy="CacheUntilChange" duration="0.01:00:00" location="Any" />
        <add extension=".js" policy="DontCache" kernelCachePolicy="CacheUntilChange" duration="0.00:01:00" location="Any" />
        <add extension=".css" policy="DontCache" kernelCachePolicy="CacheUntilChange" duration="0.00:01:00" location="Any" />
        <add extension=".jpg" policy="CacheForTimePeriod" kernelCachePolicy="CacheUntilChange" duration="0.01:00:00" location="Any" />
        <add extension=".jpeg" policy="CacheForTimePeriod" kernelCachePolicy="CacheUntilChange" duration="0.01:00:00" location="Any" />
        <add extension=".svg" policy="CacheForTimePeriod" kernelCachePolicy="CacheUntilChange" duration="0.01:00:00" location="Any" />
      </profiles>
    </caching>
    <httpProtocol>
      <customHeaders>
        <add name="Expires" value="-1" />
        <add name="X-UA-Compatible" value="IE=Edge" />
      </customHeaders>
    </httpProtocol>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EPiServer.ApplicationModules" publicKeyToken="8fe83dea738b45b7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.8.3.0" newVersion="9.8.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EPiServer.Data.Cache" publicKeyToken="8fe83dea738b45b7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.8.3.0" newVersion="9.8.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EPiServer.Data" publicKeyToken="8fe83dea738b45b7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.8.3.0" newVersion="9.8.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EPiServer.Events" publicKeyToken="8fe83dea738b45b7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.8.3.0" newVersion="9.8.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EPiServer.Framework" publicKeyToken="8fe83dea738b45b7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.8.3.0" newVersion="9.8.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EPiServer.Licensing" publicKeyToken="8fe83dea738b45b7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.8.3.0" newVersion="9.8.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EPiServer.Shell" publicKeyToken="8fe83dea738b45b7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.8.3.0" newVersion="9.8.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EPiServer.Logging.Log4Net" publicKeyToken="8fe83dea738b45b7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EPiServer.Configuration" publicKeyToken="8fe83dea738b45b7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.8.3.0" newVersion="9.8.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EPiServer" publicKeyToken="8fe83dea738b45b7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.8.3.0" newVersion="9.8.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EPiServer.Enterprise" publicKeyToken="8fe83dea738b45b7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.8.3.0" newVersion="9.8.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EPiServer.ImageLibrary" publicKeyToken="8fe83dea738b45b7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.8.3.0" newVersion="9.8.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EPiServer.LinkAnalyzer" publicKeyToken="8fe83dea738b45b7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.8.3.0" newVersion="9.8.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EPiServer.Web.WebControls" publicKeyToken="8fe83dea738b45b7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.8.3.0" newVersion="9.8.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EPiServer.XForms" publicKeyToken="8fe83dea738b45b7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.8.3.0" newVersion="9.8.3.0" />
      </dependentAssembly>
      <probing privatePath="modulesbin" />
      <dependentAssembly>
        <assemblyIdentity name="EPiServer.Cms.Shell.UI" publicKeyToken="8fe83dea738b45b7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.5.0.0" newVersion="9.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EPiServer.Shell.UI" publicKeyToken="8fe83dea738b45b7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.5.0.0" newVersion="9.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EPiServer.UI" publicKeyToken="8fe83dea738b45b7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.5.0.0" newVersion="9.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EPiServer.Packaging.CmdAPI" publicKeyToken="8fe83dea738b45b7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.0" newVersion="1.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EPiServer.Packaging" publicKeyToken="8fe83dea738b45b7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.3.0" newVersion="3.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EPiServer.Search.IndexingService" publicKeyToken="8fe83dea738b45b7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.15.0" newVersion="1.2.15.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <episerver>
    <applicationSettings globalErrorHandling="RemoteOnly" disableVersionDeletion="false" httpCacheability="Public" uiEditorCssPaths="/Static/styles/editor.css" urlRebaseKind="ToRootRelative" pageUseBrowserLanguagePreferences="false" uiShowGlobalizationUserInterface="true" subscriptionHandler="EPiServer.Personalization.SubscriptionMail,EPiServer" uiMaxVersions="20" pageValidateTemplate="false" uiUrl="~/EPiServer/CMS/" />
  </episerver>
  <episerver.framework updateDatabaseSchema="true">
    <appData basePath="../App_Data" />
    <scanAssembly forceBinFolderScan="true" />
    <virtualRoles addClaims="true">
      <providers>
        <add name="Administrators" type="EPiServer.Security.WindowsAdministratorsRole, EPiServer.Framework" />
        <add name="Everyone" type="EPiServer.Security.EveryoneRole, EPiServer.Framework" />
        <add name="Authenticated" type="EPiServer.Security.AuthenticatedRole, EPiServer.Framework" />
        <add name="Anonymous" type="EPiServer.Security.AnonymousRole, EPiServer.Framework" />
        <add name="CmsAdmins" type="EPiServer.Security.MappedRole, EPiServer.Framework" roles="WebAdmins, Administrators" mode="Any" />
        <add name="CmsEditors" type="EPiServer.Security.MappedRole, EPiServer.Framework" roles="WebEditors" mode="Any" />
        <add name="Creator" type="EPiServer.Security.CreatorRole, EPiServer" />
        <add name="PackagingAdmins" type="EPiServer.Security.MappedRole, EPiServer.Framework" roles="WebAdmins, Administrators" mode="Any" />
      </providers>
    </virtualRoles>
    <virtualPathProviders>
      <clear />
      <!--<add name="EPiServerUrlMappingVPP" type="EPiServer.Web.Hosting.VirtualPathMappedProvider, EPiServer.Framework"/>-->
      <add name="ProtectedModules" virtualPath="~/EPiServer/" physicalPath="Modules\_Protected" type="EPiServer.Web.Hosting.VirtualPathNonUnifiedProvider, EPiServer.Framework" />
      <add name="LMMaskin" showInFileManager="true" virtualPath="~/LMMaskin/" physicalPath="C:\EPiServer\Sites\LMMaskin" type="EPiServer.Web.Hosting.VirtualPathNonUnifiedProvider, EPiServer.Framework"/>
    </virtualPathProviders>
    <geolocation defaultProvider="maxmind">
      <providers>
        <add name="maxmind" type="EPiServer.Personalization.Providers.MaxMind.GeolocationProvider, EPiServer.ApplicationModules" databaseFileName="App_Data\GeoLiteCity.dat" />
      </providers>
    </geolocation>
  </episerver.framework>
  <episerver.shell>
    <publicModules rootPath="~/modules/" autoDiscovery="Modules">
    </publicModules>
    <protectedModules rootPath="~/EPiServer/">
      <add name="EPiServer.Packaging.UI" />
      <add name="Shell" />
      <add name="CMS" />
    </protectedModules>
  </episerver.shell>
  <location path="Modules/_Protected">
    <system.webServer>
      <validation validateIntegratedModeConfiguration="false" />
      <handlers>
        <clear />
        <add name="BlockDirectAccessToProtectedModules" path="*" verb="*" preCondition="integratedMode" type="System.Web.HttpNotFoundHandler" />
      </handlers>
    </system.webServer>
  </location>
  <location path="EPiServer">
    <system.web>
      <httpRuntime maxRequestLength="1000000" requestValidationMode="2.0" />
      <pages enableEventValidation="true" enableViewState="true" enableSessionState="true" enableViewStateMac="true">
        <controls>
          <add tagPrefix="EPiServerUI" namespace="EPiServer.UI.WebControls" assembly="EPiServer.UI" />
          <add tagPrefix="EPiServerScript" namespace="EPiServer.ClientScript.WebControls" assembly="EPiServer" />
          <add tagPrefix="EPiServerScript" namespace="EPiServer.UI.ClientScript.WebControls" assembly="EPiServer.UI" />
        </controls>
      </pages>
      <globalization requestEncoding="utf-8" responseEncoding="utf-8" />
      <authorization>
        <allow roles="WebEditors, WebAdmins, Administrators" />
        <deny users="*" />
      </authorization>
    </system.web>
    <system.webServer>
      <handlers>
        <clear />
        <add name="AssemblyResourceLoader-Integrated-4.0" path="WebResource.axd" verb="GET,DEBUG" type="System.Web.Handlers.AssemblyResourceLoader" preCondition="integratedMode,runtimeVersionv4.0" />
        <add name="PageHandlerFactory-Integrated-4.0" path="*.aspx" verb="GET,HEAD,POST,DEBUG" type="System.Web.UI.PageHandlerFactory" preCondition="integratedMode,runtimeVersionv4.0" />
        <add name="SimpleHandlerFactory-Integrated-4.0" path="*.ashx" verb="GET,HEAD,POST,DEBUG" type="System.Web.UI.SimpleHandlerFactory" preCondition="integratedMode,runtimeVersionv4.0" />
        <add name="WebServiceHandlerFactory-Integrated-4.0" path="*.asmx" verb="GET,HEAD,POST,DEBUG" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" preCondition="integratedMode,runtimeVersionv4.0" />
        <add name="svc-Integrated-4.0" path="*.svc" verb="*" type="System.ServiceModel.Activation.ServiceHttpHandlerFactory, System.ServiceModel.Activation, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" preCondition="integratedMode,runtimeVersionv4.0" />
        <add name="wildcard" path="*" verb="*" type="EPiServer.Web.StaticFileHandler, EPiServer.Framework" />
      </handlers>
    </system.webServer>
  </location>
  <location path="EPiServer/CMS/admin">
    <system.web>
      <authorization>
        <allow roles="WebAdmins, Administrators" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="util">
    <system.web>
      <pages enableEventValidation="true">
        <controls>
          <add tagPrefix="EPiServerUI" namespace="EPiServer.UI.WebControls" assembly="EPiServer.UI" />
          <add tagPrefix="EPiServerScript" namespace="EPiServer.ClientScript.WebControls" assembly="EPiServer" />
        </controls>
      </pages>
      <globalization requestEncoding="utf-8" responseEncoding="utf-8" />
    </system.web>
    <system.webServer>
      <handlers>
        <clear />
        <add name="AssemblyResourceLoader-Integrated-4.0" path="WebResource.axd" verb="GET,DEBUG" type="System.Web.Handlers.AssemblyResourceLoader" preCondition="integratedMode,runtimeVersionv4.0" />
        <add name="PageHandlerFactory-Integrated-4.0" path="*.aspx" verb="GET,HEAD,POST,DEBUG" type="System.Web.UI.PageHandlerFactory" preCondition="integratedMode,runtimeVersionv4.0" />
        <add name="SimpleHandlerFactory-Integrated-4.0" path="*.ashx" verb="GET,HEAD,POST,DEBUG" type="System.Web.UI.SimpleHandlerFactory" preCondition="integratedMode,runtimeVersionv4.0" />
        <add name="WebServiceHandlerFactory-Integrated-4.0" path="*.asmx" verb="GET,HEAD,POST,DEBUG" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" preCondition="integratedMode,runtimeVersionv4.0" />
        <add name="wildcard" path="*" verb="*" type="EPiServer.Web.StaticFileHandler, EPiServer.Framework" />
      </handlers>
    </system.webServer>
  </location>
  <location path="modulesbin">
    <system.web>
      <authorization>
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <episerver.search active="true">
    <namedIndexingServices defaultService="serviceName">
      <services>
        <add name="serviceName" baseUri="http://localhost:60156/IndexingService/IndexingService.svc" accessKey="local" />
      </services>
    </namedIndexingServices>
    <searchResultFilter defaultInclude="true">
      <providers />
    </searchResultFilter>
  </episerver.search>
  <system.serviceModel>
    <extensions>
      <bindingElementExtensions>
        <add name="udpTransportCustom" type="Microsoft.ServiceModel.Samples.UdpTransportElement, EPiServer.Events"/>
      </bindingElementExtensions>
    </extensions>
    <services>
      <service name="EPiServer.Events.Remote.EventReplication" >
        <endpoint name="RemoteEventServiceEndPoint"
                contract="EPiServer.Events.ServiceModel.IEventReplication"
                binding="customBinding"
                bindingConfiguration="RemoteEventsBinding"
                address="soap.udp://239.255.255.19:5005/RemoteEventService" />
      </service>
    </services>
    <client>
      <!--<endpoint address="http://wcftst.lantmannenlantbruk.se/Apps/PurchasingMobileServiceExt/PurchasingMobileServiceExt.PurchasingMobileService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPurchasingMobileService"
                contract="BasicHttpBinding_IPurchasingMobileService" name="BasicHttpBinding_IPurchasingMobileService" />-->

      <endpoint name="RemoteEventServiceClientEndPoint"
             address="soap.udp://239.255.255.19:5005/RemoteEventService"
             binding="customBinding"
             bindingConfiguration="RemoteEventsBinding"
             contract="EPiServer.Events.ServiceModel.IEventReplication" />
    </client>

    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <behaviors>
      <serviceBehaviors>
        <behavior name="DebugServiceBehaviour">
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <customBinding>
        <binding name="RemoteEventsBinding">
          <binaryMessageEncoding />
          <udpTransportCustom multicast="True"/>
        </binding>
      </customBinding>
      <basicHttpBinding>
        <!--<binding name="BasicHttpBinding_IPurchasingMobileService" maxBufferPoolSize="52428800" maxBufferSize="65536000" maxReceivedMessageSize="65536000" />-->
        <binding name="WSSessionServiceSoapBinding1" />
      </basicHttpBinding>
      <webHttpBinding>
        <binding name="IndexingServiceCustomBinding" maxBufferSize="2147483647" maxBufferPoolSize="1073741824" maxReceivedMessageSize="2147483647">
          <readerQuotas maxStringContentLength="10000000" />
        </binding>
      </webHttpBinding>
    </bindings>
  </system.serviceModel>
  <episerver.packaging protectedVirtualPath="~/EPiServer/" protectedPath="modules/_Protected" publicVirtualPath="~/modules/" publicPath="modules" installationMode="Code" />
  <connectionStrings configSource="connectionStrings.config" />
  <!--<add name="EPiServerDB" connectionString="Data Source=localhost;AttachDbFilename=|DataDirectory|EPiServerDB_7abc7d29.mdf;Initial Catalog=EPiServerDB_7abc7d29;Connection Timeout=60;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>-->
  <episerver.search.indexingservice>
    <clients>
      <add name="local" description="local" allowLocal="true" readonly="false" />
    </clients>
    <namedIndexes defaultIndex="default">
      <indexes>
        <add name="default" directoryPath="[appDataPath]\Index" readonly="false" />
      </indexes>
    </namedIndexes>
  </episerver.search.indexingservice>
  <location path="IndexingService/IndexingService.svc">
    <system.web>
      <httpRuntime maxQueryStringLength="65536" />
    </system.web>
    <system.webServer>
      <security>
        <requestFiltering>
          <requestLimits maxQueryString="65536" />
        </requestFiltering>
      </security>
    </system.webServer>
  </location>
  <bvn404Handler handlerMode="On" fileNotFoundPage="/notfound.aspx">
    <providers>
      <!--
 	 	        Register your own handler that will be given a chance to
 	 	        rewrite the url. The type must implement INotFoundHandler
 	 	        <add name="NameOfHandler" type="Your.Handler.Here"/>
 	 	     -->
    </providers>
  </bvn404Handler>
  <location path="LMMaskin">
    <system.webServer>
      <handlers>
        <clear />
        <add name="wildcard" path="*" verb="*" type="EPiServer.Web.StaticFileHandler, EPiServer.Framework" />
      </handlers>
    </system.webServer>
  </location>
</configuration>
