<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.webServer>
    <!--Only apply for IIS 7+-->
    <httpErrors errorMode="Custom" existingResponse="Replace" xdt:Transform="InsertIfMissing">
      <!--<clear/>-->
      <remove statusCode="404"/>
      <remove statusCode="401"/>
      <remove statusCode="400"/>
      <remove statusCode="500"/>
      <error statusCode="404" path="/Static/error/404.aspx" responseMode="ExecuteURL"/>
      <error statusCode="401" path="/Static/error/404.aspx" responseMode="ExecuteURL"/>
      <error statusCode="400" path="/Static/error/404.aspx" responseMode="ExecuteURL"/>
      <error statusCode="500" path="/Static/error/500.aspx" responseMode="ExecuteURL"/>
    </httpErrors>
  </system.webServer>
  <episerver.search active="true">
    <namedIndexingServices defaultService="serviceName">
      <services>
        <add name="serviceName" baseUri="http://localhost:60152/IndexingService/IndexingService.svc" accessKey="local" xdt:Transform="Replace" />
      </services>
    </namedIndexingServices>
  </episerver.search>
  <episerver.search.indexingservice>
    <clients>
      <add name="local" description="local" allowLocal="true" readonly="false" />
    </clients>
    <namedIndexes defaultIndex="default">
      <indexes>
        <add name="default" directoryPath="\\lantmstgdb02\VPP$\SysTest\Index" readonly="false" xdt:Transform="Replace" />
      </indexes>
    </namedIndexes>
  </episerver.search.indexingservice>
  <episerver.framework>
    <appData xdt:Transform ="Replace" basePath="\\lantmstgdb02\VPP$\SysTest" />
    <virtualPathProviders>
      <add name="LMMaskin" xdt:Locator="Match(name)" xdt:Transform="Replace" showInFileManager="true" virtualPath="~/LMMaskin/" physicalPath="\\lantmstgdb02\VPP$\SysTest\LMMaskin" type="EPiServer.Web.Hosting.VirtualPathNonUnifiedProvider, EPiServer.Framework"/>
    </virtualPathProviders>
  </episerver.framework>
  <appSettings>
    <add key="environmentName" value="FarmDayStg" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="LogoutRedirect" value="/pkmslogout" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="PersonSession.AdminName" value="farmdayws" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="PersonSession.Password" value="farmdayws" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="LoginBankAccountUrl" value="https://epilm2dev.lantmannen.com/sps/LantmannenSPfed/saml20/logininitial?RequestBinding=HTTPPost{0}"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="publicSitePrefix" value="https://epilm2dev.lantmannen.com/open"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="domainUrl" value="https://epilm2dev.lantmannen.com/lm"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="PreDaysDelivery" value="-4" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="PostDaysDelivery" value="5"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <!-- Harvest and storage period. Month-Date -->
    <add key="harvestPeriodStart" value="07-01"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="harvestPeriodEnd" value="10-15"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="storagePeriodStart" value="10-15"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="storagePeriodEnd" value="07-01"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="Endpoint.ILM2CustomerSupportService" value="http://sci-api-tst.work.lantmannen.lan/ws/LMFD_TST_CustomerSupportService_VS/1.0"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Endpoint.ICustomerSupportService" value="http://sci-api-tst.work.lantmannen.lan/ws/LMFD_Test_WcfCustomerSupportService_VS/1.0"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Endpoint.IPurchasingMobileService" value="http://sci-api-tst.work.lantmannen.lan:80/ws/LM_Farmday_PurchasingMobileService_Virtual/1.0"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Endpoint.IAgreementService" value="http://sci-api-tst.work.lantmannen.lan:80/ws/LM_Farmday_MinaAvtalService_Virtual/1.0"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Endpoint.IDeliveryAssuranceService" value="http://sci-api-tst.work.lantmannen.lan:80/ws/LM_Farmday_LeveransforsakranService_Virtual/1.0"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Endpoint.IFoljesedelService" value="http://sci-api-tst.work.lantmannen.lan:80/ws/LM_Farmday_FoljesedelService_Virtual/1.0"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Endpoint.IEmailService" value="http://sci-api-tst.work.lantmannen.lan:80/ws/LM_Farmday_EpostService_Virtual/1.0"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Endpoint.IGrobarhetService" value="http://sci-api-tst.work.lantmannen.lan/ws/LM_Farmday_GrobarhetService_Virtual/1.0"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Endpoint.IMessagehubService" value="http://sci-api-tst.work.lantmannen.lan:80/ws/LM_Farmday_MessagehubService_Virtual/2.0"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Endpoint.IPrisgrafService" value="http://sci-api-tst.work.lantmannen.lan:80/ws/PrisgrafService_Virtual/1.0"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Endpoint.IFraktService" value="http://sci-api-tst.work.lantmannen.lan/ws/FraktService_Virtual/1.0"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Endpoint.IWeighInService" value="http://sci-api-tst.work.lantmannen.lan:80/ws/WeighInService_Virtual/1.0"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Endpoint.IUserTermsOfUseService" value="http://sci-api-tst.work.lantmannen.lan:80/ws/LM_Farmday_UserTermsOfUseService_Virtual/1.0"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Endpoint.ILM2OrganisationService" value="http://sci-api-tst.work.lantmannen.lan/ws/LM_Farmday_LM2OrganisationService_Virtual/1.0"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Endpoint.IGrainService" value="http://sci-api-tst.work.lantmannen.lan/ws/LM_Farmday_GrainService_Virtual/1.0"
        xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="Endpoint.getAllMachinesForCustomerId_PortType" value="http://sci-api-tst.work.lantmannen.lan/ws/LMMA_MAS_C4_GetAllMachinesForCustomerId_VS/1.0"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="Endpoint.deleteMachineForCustomerId_PortType" value="http://sci-api-tst.work.lantmannen.lan/ws/LMMA_MAS_C4_deleteMachineForCustomerId_VS/1.0"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="Endpoint.GetMachineByRegNumber_PortType" value="http://sci-api-tst.work.lantmannen.lan/ws/LMMA_MAS_C4_GetMachineByRegNumber_VS/1.0"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="Endpoint.updateMachineForCustomerId_PortType" value="http://sci-api-tst.work.lantmannen.lan/ws/LMMA_MAS_C4_updateMachineForCustomerId_VS/1.0"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="Endpoint.getMachineBySysId_PortType" value="http://sci-api-tst.work.lantmannen.lan/ws/LMMA_MAS_C4_GetMachineBySysId_VS/1.0"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="Endpoint.ISecurityService"  value="http://sci-api-tst.work.lantmannen.lan/ws/LM_Farmday_NySecurityService_Virtual/2.0"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Endpoint.WSPersonService" value="http://sci-api-tst.work.lantmannen.lan:80/ws/LM_Farmday_WSPersonService_Virtual/1.0"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Endpoint.WSSessionService" value="http://sci-api-tst.work.lantmannen.lan:80/ws/LM_Farmday_WSSessionService_Virtual/1.0"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Endpoint.WSRequestService" value="http://sci-api-tst.work.lantmannen.lan:80/ws/LM_Farmday_WSRequestService_VS/1.0"
           xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Endpoint.ILogiWebService" value="http://sci-api-tst.work.lantmannen.lan:80/ws/LM_Farmday_LogiwebService_Virtual/1.0"
     xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Endpoint.BokaServiceSoap" value="http://sci-api-tst.work.lantmannen.lan/ws/LMFD_Test_BokaService_VS/1.0"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Endpoint.BokaSoap" value="http://sci-api-tst.work.lantmannen.lan:80/ws/LM_Farmday_BokaService_Virtual/1.0"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Endpoint.CustomerSoap" value="http://sci-api-tst.work.lantmannen.lan/ws/LMFD_Test_Customer_VS/1.0"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Endpoint.ItemsSoap" value="http://sci-api-tst.work.lantmannen.lan/ws/LMFD_Test_Items_VS/1.0"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Endpoint.IPurchasingAgreementService" value="http://sci-api-tst.work.lantmannen.lan/ws/LMFD_Test_PurchasingAgreement_VS/1.0"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
</configuration>
