<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IFoljesedelService" />
        <binding name="BasicHttpBinding_IGrobarhetService" />
        <binding name="BasicHttpBinding_IPrisgrafService" />
        <binding name="BasicHttpBinding_IDeliveryAssuranceService" />
        <binding name="BasicHttpBinding_IFraktService" />
        <binding name="BasicHttpBinding_IMessagehubService" />
        <binding name="BasicHttpBinding_IEmailService" />
        <binding name="WSPersonServiceSoapBinding">
          <security mode="Transport" />
        </binding>
        <binding name="WSPersonServiceSoapBinding1" />
        <binding name="WSSessionServiceSoapBinding">
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpBinding_IWeighInService" />
        <binding name="BasicHttpBinding_ISecurityService" />
        <binding name="BasicHttpBinding_IUserTermsOfUseService" />
        <binding name="BasicHttpBinding_ILM2OrganisationService" />
        <binding name="BasicHttpBinding_IGrainService" />
        <binding name="LMMA_MAS_C4_ws_getAllMachinesForCustomerId_Binder" />
        <binding name="WSSessionServiceSoapBinding1" />
        <binding name="LMMA_MAS_C4_ws_updateMachineForCustomerId_Binder" />
        <binding name="LMMA_MAS_C4_ws_deleteMachineForCustomerId_Binder" />
        <binding name="LMMA_MAS_C4_ws_GetMachineByRegNumber_Binder" />
        <binding name="BasicHttpBinding_IPurchasingMobileService" />
        <binding name="WSRequestServiceSoapBinding">
          <security mode="Transport" />
        </binding>
        <binding name="WSRequestServiceSoapBinding1" />
        <binding name="LMMA_MAS_C4_ws_getMachineBySysId_Binder" />
        <binding name="BasicHttpBinding_ILogiWebService" />
        <binding name="BokaSoap" />
        <binding name="ItemsSoap" />
        <binding name="CustomerSoap" />
        <binding name="BokaServiceSoap" />
        <binding name="BasicHttpBinding_IPurchasingAgreementService" />
        <binding name="BasicHttpBinding_IAgreementService" />
        <binding name="BasicHttpBinding_ILM2CustomerSupportService" />
        <binding name="BasicHttpBinding_ICustomerSupportService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://10.2.54.129:9082/itim/services/WSPersonServiceService"
        binding="basicHttpBinding" bindingConfiguration="WSPersonServiceSoapBinding"
        contract="PersonService.WSPersonService" name="WSPersonService" />
      <endpoint address="http://sr02009/Apps/DeliveryAssuranceServiceInt/DeliveryAssuranceServiceInt.DeliveryAssuranceService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDeliveryAssuranceService"
        contract="DeliveryAssuranceService.IDeliveryAssuranceService"
        name="BasicHttpBinding_IDeliveryAssuranceService" />
      <endpoint address="http://sr02009/Apps/FoljesedelServiceInt/FoljesedelServiceInt.FoljesedelService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFoljesedelService"
        contract="DeliveryNoteService.IFoljesedelService" name="BasicHttpBinding_IFoljesedelService" />
      <endpoint address="http://sr02009/EmailServiceInt/EmailService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEmailService"
        contract="EmailService.IEmailService" name="BasicHttpBinding_IEmailService" />
      <endpoint address="http://sr02009/Apps/GrobarhetServiceInt/GrobarhetServiceInt.GrobarhetService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGrobarhetService"
        contract="GrobarhetService.IGrobarhetService" name="BasicHttpBinding_IGrobarhetService" />
      <endpoint address="http://sr02009/Apps/PrisgrafServiceInt/PrisgrafServiceInt.PrisgrafService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPrisgrafService"
        contract="PrisgrafService.IPrisgrafService" name="BasicHttpBinding_IPrisgrafService" />
      <endpoint address="http://sr02009/Apps/FraktServiceInt/FraktServiceInt.FraktService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFraktService"
        contract="ShippingService.IFraktService" name="BasicHttpBinding_IFraktService" />
      <endpoint address="http://sr02009/Apps/WeighInServiceInt/WeighInServiceInt.WeighInService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWeighInService"
        contract="WeighInService.IWeighInService" name="BasicHttpBinding_IWeighInService" />
      <endpoint address="http://sr02009/Farmday/UserTermsOfUseService/UserTermsOfUseService.UserTermsOfUseService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserTermsOfUseService"
        contract="UserTermsOfUseService.IUserTermsOfUseService" name="BasicHttpBinding_IUserTermsOfUseService" />
      <endpoint address="http://sr02009/Farmday/LM2OrganisationServiceInt/LM2OrganisationService.LM2OrganisationService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILM2OrganisationService"
        contract="OrganisationService.ILM2OrganisationService" name="BasicHttpBinding_ILM2OrganisationService" />
      <endpoint address="http://sr02371.work.lantmannen.lan:9955/ws/LMMA_MAS_C4_GetAllMachinesForCustomerId/1"
        binding="basicHttpBinding" bindingConfiguration="LMMA_MAS_C4_ws_getAllMachinesForCustomerId_Binder"
        contract="MachineService.getAllMachinesForCustomerId_PortType"
        name="LMMA_MAS_C4_GetAllMachinesForCustomerIdsoaphttp" />
      <endpoint address="https://10.2.54.129:9082/itim/services/WSSessionService"
        binding="basicHttpBinding" bindingConfiguration="WSSessionServiceSoapBinding"
        contract="SessionService.WSSessionService" name="WSSessionServicePort" />
      <endpoint address="http://sr02371.work.lantmannen.lan:9955/ws/LMMA_MAS_C4_updateMachineForCustomerId/1"
        binding="basicHttpBinding" bindingConfiguration="LMMA_MAS_C4_ws_updateMachineForCustomerId_Binder"
        contract="MachineAddNewServer.updateMachineForCustomerId_PortType"
        name="LMMA_MAS_C4_updateMachineForCustomerIdsoaphttp" />
      <endpoint address="http://sr02371.work.lantmannen.lan:9955/ws/LMMA_MAS_C4_deleteMachineForCustomerId/1"
        binding="basicHttpBinding" bindingConfiguration="LMMA_MAS_C4_ws_deleteMachineForCustomerId_Binder"
        contract="MachineRemoveService.deleteMachineForCustomerId_PortType"
        name="LMMA_MAS_C4_deleteMachineForCustomerIdsoaphttp" />
      <endpoint address="http://sr02371.work.lantmannen.lan:9955/ws/LMMA_MAS_C4_GetMachineByRegNumber/1"
        binding="basicHttpBinding" bindingConfiguration="LMMA_MAS_C4_ws_GetMachineByRegNumber_Binder"
        contract="MachineDetailByReg.GetMachineByRegNumber_PortType"
        name="LMMA_MAS_C4_GetMachineByRegNumbersoaphttp" />
      <endpoint address="https://10.2.54.129:9082/itim/services/WSRequestServiceService"
        binding="basicHttpBinding" bindingConfiguration="WSRequestServiceSoapBinding"
        contract="RequestService.WSRequestService" name="WSRequestService" />
      <endpoint address="http://sci-api-tst.work.lantmannen.lan:80/ws/LMMA_MAS_C4_GetMachineBySysId_VS/1.0"
        binding="basicHttpBinding" bindingConfiguration="LMMA_MAS_C4_ws_getMachineBySysId_Binder"
        contract="MachineDetailById.getMachineBySysId_PortType" name="LMMA_MAS_C4_GetMachineBySysId_VSsoaphttp" />
      <endpoint address="http://sci-api-tst.work.lantmannen.lan:80/ws/LM_Farmday_PurchasingMobileService_Virtual/1.0"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPurchasingMobileService"
        contract="PurchasingMobileService.IPurchasingMobileService"
        name="LM_Farmday_PurchasingMobileService_Virtualsoaphttp" />
      <endpoint address="http://sr02009/Apps/LogiWebServiceInt/LogiWebServiceInt.LogiWebService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILogiWebService"
        contract="LogiWebService.ILogiWebService" name="BasicHttpBinding_ILogiWebService" />
      <endpoint address="http://sr02009/Centralen/Items.asmx" binding="basicHttpBinding"
        bindingConfiguration="ItemsSoap" contract="Centralen_Items.ItemsSoap"
        name="ItemsSoap" />
      <endpoint address="http://sr02009/Centralen/Customer.asmx" binding="basicHttpBinding"
        bindingConfiguration="CustomerSoap" contract="Centralen_Customer.CustomerSoap"
        name="CustomerSoap" />
      <endpoint address="http://sr02009/Centralen/BokaService.asmx"
        binding="basicHttpBinding" bindingConfiguration="BokaServiceSoap"
        contract="BokaService.BokaServiceSoap" name="BokaServiceSoap" />
      <endpoint address="http://sr02033/BokaWebService_ETT/Boka.asmx"
        binding="basicHttpBinding" bindingConfiguration="BokaSoap" contract="Boka.BokaSoap"
        name="BokaSoap" />
      <endpoint address="http://sci-api-tst.work.lantmannen.lan:80/ws/LM_Farmday_GrainService_Virtual/1.0"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGrainService"
        contract="GrainService.IGrainService" name="LM_Farmday_GrainService_Virtualsoaphttp" />
      <endpoint address="http://sci-api-tst.work.lantmannen.lan:80/ws/LM_Farmday_MinaAvtalService_Virtual/1.0"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAgreementService"
        contract="AgreementService.IAgreementService" name="LM_Farmday_MinaAvtalService_Virtualsoaphttp" />
      <endpoint address="http://sci-api-tst.work.lantmannen.lan:80/ws/LMFD_TST_CustomerSupportService_VS.LMFD_TST_CustomerSupportService_VSsoaphttp/1.0"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILM2CustomerSupportService"
        contract="Lm2CustomerSupportService.ILM2CustomerSupportService"
        name="LMFD_TST_CustomerSupportService_VSsoaphttp" />
      <endpoint address="http://sr02009/Apps/CustomerSupportServiceInt/CustomerSupportServiceInt.CustomerSupportService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICustomerSupportService"
        contract="LegacyCustomerSupportService.ICustomerSupportService"
        name="BasicHttpBinding_ICustomerSupportService" />
      <endpoint address="http://sr02009/Apps_EPiLyft-1.1/PurchasingAgreementServiceInt/PurchasingAgreementServiceInt.PurchasingAgreementService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPurchasingAgreementService"
        contract="PurchasingAgreementService.IPurchasingAgreementService"
        name="BasicHttpBinding_IPurchasingAgreementService" />
      <endpoint address="http://sci-api-tst.work.lantmannen.lan:80/ws/LM_Farmday_MessagehubService_Virtual/1.0"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMessagehubService"
        contract="MessageHubService.IMessagehubService" name="LM_Farmday_MessagehubService_Virtualsoaphttp" />
      <endpoint address="http://sr02880/Farmday/SecurityServiceInt/SecurityServiceInt.SecurityService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISecurityService"
        contract="SecurityService.ISecurityService" name="BasicHttpBinding_ISecurityService" />
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EPiServer.ApplicationModules" publicKeyToken="8fe83dea738b45b7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EPiServer.Data.Cache" publicKeyToken="8fe83dea738b45b7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EPiServer.Data" publicKeyToken="8fe83dea738b45b7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EPiServer.Events" publicKeyToken="8fe83dea738b45b7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EPiServer.Framework" publicKeyToken="8fe83dea738b45b7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EPiServer.Licensing" publicKeyToken="8fe83dea738b45b7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EPiServer.Shell" publicKeyToken="8fe83dea738b45b7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EPiServer.Logging.Log4Net" publicKeyToken="8fe83dea738b45b7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>