<div class="user-info-wrapper">
    <a class="lm__user-info" href="#">
        <h4 class="lm__user-id">32008145</h4>
        <p class="lm__user-summary">Nilsson Lantbruk AB</p>
    </a>
    <div class="sub__user-profile">
        <div class="user-id__wrapper lm__radio type-3">
            <input type="radio" name="user_id" checked />
            <div class="user-id__label">
                <h4>32008145</h4>
                <p>Nilsson Lantbruk AB</p>
            </div>
        </div>
        <div class="user-id__wrapper lm__radio type-3">
            <input type="radio" name="user_id" />
            <div class="user-id__label">
                <h4>3208007</h4>
                <p>Karlssons Gård</p>
            </div>
        </div>
    </div>
</div>