@using Gro.Constants
@model Gro.ViewModels.IPageViewModel<Gro.Core.ContentTypes.Pages.BasePages.SitePageBase>

<!-- START FOOTER -->
<footer class="lm__footer">
    <div class="wrapper">
        <div class="layout layout--large">
            <div class="layout__item u-1/1 u-1/2-mobile u-1/3-tablet">
                <div class="lm__intro">
                    <p>@Html.PropertyFor(x => x.Settings.ExternalFooterFreeText)</p>
                </div>
            </div>

            <div class="layout__item u-1/1 u-1/2-mobile u-2/3-tablet">
                <div class="layout layout--large">
                    <div class="layout__item u-1/1 u-1/2-mobile u-1/3-tablet">
                        @Html.PropertyFor(x => x.Settings.ExternalFooterColumn1, new { Tag = ColumnLayout.FooterColumnTag })
                    </div>
                    <div class="layout__item u-1/1 u-1/2-mobile u-1/3-tablet">
                        @Html.PropertyFor(x => x.Settings.ExternalFooterColumn2, new { Tag = ColumnLayout.FooterColumnTag })
                    </div>
                    <div class="layout__item u-1/1 u-1/2-mobile u-1/3-tablet">
                        @Html.PropertyFor(x => x.Settings.ExternalFooterColumn3, new { Tag = ColumnLayout.FooterColumnTag })
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- END OF FOOTER -->
