@model Gro.ViewModels.IPageViewModel<EPiServer.Core.PageData>

<!-- Main Navigation -->
<div class="lm__navigation-wrapper">
    <div class="lm__navigation">
        <div class="wrapper">
            <div class="layout  layout--small">
                <div class="layout__item u-1/3 u-1/2-tablet lm__active-page">
                    <nav class="lm__user-settings">
                        <ul>
                            <li class="lm__settings">
                                <a href="#"></a>
                                <nav class="lm_sub-settings">
                                    <ul>
                                        <li class="spannmal"><a href="#">Spannmål</a></li>
                                        <li class="odling"><a href="#">Odling</a></li>
                                        <li class="foder"><a href="#">Foder</a></li>
                                        <li class="maskiner"><a href="#">Maskiner</a></li>
                                        <li class="ekonomi"><a href="#">Ekonomi</a></li>
                                        <div class="cleafix"></div>
                                    </ul>
                                </nav>
                            </li>
                        </ul>
                    </nav>
                    <h3>Spannmål</h3>
                </div>
                <nav class="layout__item u-2/3 u-1/2-tablet lm__main-navigation">
                    <a class="lm_toggle-menu" href="#" alt="Humberger Icon">
                        <span class="text">Menu</span>
                        <span class="humb">
                            <span class="humb-icon"></span>
                            <span class="humb-icon"></span>
                            <span class="humb-icon"></span>
                        </span>
                    </a>
                    <ul>
                        <li><a href="#">Sälja fysisk spannmål</a></li>
                        <li>
                            <a href="#">Lämna spannmål</a>
                            <ul class="lm__sub-navigation">
                                <li><a href="#">Nivå2 donec consequat</a></li>
                                <li><a href="#">Nivå2 amet euismod</a></li>
                                <li><a href="#">Nivå2 tempus</a></li>
                                <li><a href="#">Nivå2 vulputate</a></li>
                                <li><a href="#">Nivå2 auctor ipsum</a></li>
                                <li><a href="#">Nivå2 quan eget</a></li>
                            </ul>
                        </li>
                        <li class="active">
                            <a href="#">Marknadsinformation</a>
                            <ul class="lm__sub-navigation">
                                <li><a href="#">Nivå2 donec consequat</a></li>
                                <li><a href="#">Nivå2 amet euismod</a></li>
                                <li><a href="#">Nivå2 tempus</a></li>
                                <li><a href="#">Nivå2 vulputate</a></li>
                                <li><a href="#">Nivå2 auctor ipsum</a></li>
                                <li><a href="#">Nivå2 quan eget</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Blanketter</a>
                            <ul class="lm__sub-navigation">
                                <li><a href="#">Nivå2 donec consequat</a></li>
                                <li><a href="#">Nivå2 amet euismod</a></li>
                                <li><a href="#">Nivå2 tempus</a></li>
                                <li><a href="#">Nivå2 vulputate</a></li>
                                <li><a href="#">Nivå2 auctor ipsum</a></li>
                                <li><a href="#">Nivå2 quan eget</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- /.main-navigation -->
