<section class="lm__contents iam-block">
    <div class="wrapper">
        <div class="layout  layout--large">
            <div class="layout__item u-1/1">
                <div class="lm__center-block type-2">
                    <div class="iam-block__logo">
                        <h1 class="primary clarendonurw-reg-font align-center-text">LM<sup>2</sup></h1>
                        <h2 class="slogan clarendonurw-reg-font align-center-text">Verktyget för jordens entreprenörer</h2>
                    </div>
                    <div class="iam-block__box__wrapper">
                        <div class="iam-block__box">
                            <p class="lm__bold-title">Välkommen till LM<sup>2</sup>!</p>
                        </div>
                        <div class="iam-block__box">
                            <p>Bekräfta din E-posadress genom att ange följande tillfälliga lösenord på LM<sup>2</sup>s inloggningssida</p>
                            <p>@ViewData["password"]</p>
                            <p><a href="@ViewData["link"]">Gå till LM<sup>2</sup>s inloggningssida</a></p>
                        </div>
                        <div class="iam-block__box">
                            <p style="margin-bottom: 0">Med vänliga hälsningar</p>
                            <p style="margin-top: 0">Lantmännen</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
