/// <reference path="../_references.scss" />

// ------------------------------------------------------------------------- //
// #UTILITIES
// ------------------------------------------------------------------------- //



/**
 * Only display content to screen readers
 * See: http://a11yproject.com/posts/how-to-hide-content/
 */
.u-screen-reader-only {
    position: absolute;
    width: em(1px);
    height: em(1px);
    margin: -em(1px);
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}



/**
 * Hide element. Extend the class with Sass to avoid the `.u-hide`
 * class appearing over and over in your markup.
 */
%u-hide,
.u-hide {
    display: none !important;
}

@each $breakpoint in $breakpoints {

    // Get the name of the breakpoint.
    $alias: nth($breakpoint, 1);

    @include media-query($alias) {
        /**
         * Hide element on certain breakpoints based on your responsive settings.
         * Extend the class with Sass to avoid the `.u-hide-tablet` class or similar
         * appearing over and over in your markup.
         */
        %u-hide-#{$alias},
        .u-hide-#{$alias} {
            display: none !important;
        }
    }
}



/**
 * Content alignment
 */
.u-align-left,
%u-align-left {
    text-align: left !important;
}

.u-align-center,
%u-align-center {
    text-align: center !important;
}

.u-align-right,
%u-align-right {
    text-align: right !important;
}



/**
 * Content wrapping
 */
.u-float-left,
%u-float-left {
    float: left !important;
}

.u-float-right,
%u-float-right {
    float: right !important;
}
