@using EPiServer.Editor
@using Gro.Core.ContentTypes.Utils
@model Gro.ViewModels.Pages.AppPages.DryingAgreement.DryingAgreementViewModel

<section class="lm__contents">
    <div class="wrapper">
        <div class="layout  layout--large">
            <div class="layout__item u-1/1 u-2/3-tablet">
                <div class="lm__block redigera-block">
                    <div class="lm__add-user__wrapper">
                        <div class="lm__breadcrums">
                            <div class="lm__step-inform">
                                <h2 class="heading-title">Steg 3</h2>
                                <h3 class="heading-title-2">Bekräftelse</h3>
                            </div>
                            <ul class="lm__form-progress">
                                <span class="lm__form-progress__line"></span>
                                <li class="done"><a href="#">1</a></li>
                                <li class="done"><a href="#">2</a></li>
                                <li class="active"><a href="#">3</a></li>
                            </ul>
                        </div>
                        <form action="#" method="post" class="lm__add-user-form author-inform-form">
                            <div class="author-inform-form__input">
                                <div class="layout">
                                    <div class="layout__item u-1/1 ">
                                        <h2 class="heading-title-2">Bekräftelse Torkavtal</h2>
                                    </div>
                                    <div class="layout__item u-1/1 lm__row-margin">
                                        @Html.PropertyFor(x=>x.CurrentPage.ConfirmationText)
                                    </div>
                                    <div class="author-inform-form__input block-button-on-mobile author-inform-form__column-full">
                                        <div class="layout">
                                            <div class="layout__item u-1/1 u-1/1-tablet  u-1/3-desktop lm__float-right-element">
                                                <a href="@Url.ContentUrl(Model.CurrentPage.ContentLink)"
                                                   class="author-inform-form__btn width-100">Till förstasidan</a>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="layout__item u-1/1 u-1/3-tablet">
                @if (Model.CurrentPage.GetLevel() >= 3)
                {
                    Html.RenderAction("GetRightNav", "Navigation", new {page = Model.CurrentPage});
                }
            </div>
        </div>
    </div>
</section>

@if (ViewBag.GeneratePdf != null && (bool)ViewBag.GeneratePdf)
{
    <a id="generateDryingPdf" class="hidden" href="/api/pdfhandler/generate-drying" target="_blank">Generate Pdf</a>
}
else
{
    <div class="lm__modal__wrapper">
        <div class="mask"></div>
        <div class="lm__wide-modal">
            <h3 class="lm__wide-modal__title"></h3>
            <p>Felmeddelande!</p>
            <div class="lm__wide-modal__close-btn">
                <a href=""></a>
            </div>
        </div>
    </div>
}
