@using EPiServer.Editor
@using Gro.Core.ContentTypes.Utils
@model Gro.ViewModels.Pages.AppPages.DryingAgreement.DryingAgreementViewModel

<section class="lm__contents">
    <div class="wrapper">
        <div class="layout  layout--large">
            <div class="layout__item u-1/1 u-2/3-tablet">
                <div class="lm__block redigera-block">
                    @using (Html.BeginForm("Index", "DryingAgreementPage", FormMethod.Post, new { id = "dryingAgreementForm", name = "dryingAgreementForm", @class = "lm__add-user-form author-inform-form", enctype = "multipart/form-data" }))
                    {
                        if (PageEditing.PageIsInEditMode || ((TempData["NotLoggedIn"] == null || !(bool)TempData["NotLoggedIn"])))
                        {
                            <div class="lm__add-user__wrapper" id="dryingStep1">
                                @Html.Partial("Partial/DryingAgreementStep1", Model)
                            </div>
                            <div class="lm__add-user__wrapper hidden" id="dryingStep2">
                                @Html.Partial("Partial/DryingAgreementStep2", Model)
                            </div>
                        }
                    }
                </div>

            </div>
            <div class="layout__item u-1/1 u-1/3-tablet">
                @if (Model.CurrentPage.GetLevel() >= 3)
                {
                    Html.RenderAction("GetRightNav", "Navigation", new { page = Model.CurrentPage });
                }
            </div>
        </div>
    </div>
</section>

@if (!PageEditing.PageIsInEditMode && TempData["NotLoggedIn"] != null && (bool)TempData["NotLoggedIn"])
            {
    <div class="lm__modal__wrapper" id="errorDialog">
        <div class="mask"></div>
        <div class="lm__wide-modal">
            <h3 class="lm__wide-modal__title">@Html.Translate("/lantBruk/leveransForsakran/errorMessages/error")</h3>
            <div class="author-inform-form__column author-inform-form__column-full lm__row-margin">
                @Html.Translate("/lantBruk/leveransForsakran/errorMessages/notLoggedIn")
            </div>
            <div class="lm__wide-modal__close-btn">
                <a href=""></a>
            </div>
        </div>
    </div>
}