/// <reference path="../_references.scss" />

// ------------------------------------------------------------------------- //
// #PAGING
// ------------------------------------------------------------------------- //



/**
 * Paging object
 */
.paging {
    padding-top: $base-spacing-unit--large;
    padding-bottom: $base-spacing-unit--large;
}



.paging__list {
    @extend %list-inline;
    display: inline-block;
}



.paging__link {
    display: block;
    padding: $base-spacing-unit--small $base-spacing-unit;
}
