/// <reference path="../_references.scss" />

.lm__foljesedlar {
    .mina-avtal__table-caption {
        margin-top: 0;
    }

    table {
        thead {
            color: $table-header-text-color;

            th {
                background-color: $color-white;
            }
        }

        tbody {
            td {

                a {
                    @extend .lm__link;
                }

                &.center-text {
                    text-align: center;
                }
            }

            tr:nth-child(odd) {
                background-color: $table-odd-row-background-color;
            }

            tr:nth-child(even) {
                background-color: $color-white;
            }
        }
    }
}

.lm__additional {
    margin-top: 20px;
    position: relative;

    .lm__pagination {
        ul {
            list-style: none;
            padding: 0;
            margin: 0;

            li {
                display: inline-block;

                a {
                    color: $table-content-text-color;
                    display: block;
                    padding: 5px;
                    font-family: $font-akzidenz-medium;

                    .fa {
                        text-indent: -9999px;
                        background: transparent url(../images/arrow.png) no-repeat center center;
                        background-size: 100%;
                        @include set-size(inline-block, 18px, 18px);
                        vertical-align: sub;
                        position: inherit;
                        margin-top: -4px;
                    }

                    .fa-arrow-right {
                        -webkit-transform: rotateZ(180deg);
                        -moz-transform: rotateZ(180deg);
                        transform: rotateZ(180deg);
                    }

                    &:hover {
                        background: $color-gray-6;
                        color: $color-dark-green;

                        .fa {
                            background: transparent url(../images/arrow-hover.png) no-repeat center center;
                            background-size: 100%;
                        }
                    }

                    &.disabled {
                        @include set-opacity(0.5);

                        &:before {
                            background: none;
                        }
                    }
                }

                &.active {
                    a {
                        color: $color-dark-green;
                    }
                }

                &:first-child {
                    margin-right: 5px;
                }

                &:last-child {
                    margin-left: 5px;
                }
            }
        }
    }

    .foljesedlar-summary {
        color: $table-content-text-color;
        position: absolute;
        right: 0;
        top: 50%;
        -webkit-transform: translate(0, -50%);
        -moz-transform: translate(0, -50%);
        transform: translate(0, -50%);
    }

    &.hidden {
        display: none;
    }
}

.lm__view-more-messages {
    display: block;
    padding: 20px;
    text-align: center;
    border-top: 1px solid $detail-border-color;
}

.lm__foljesedlar.lm__sok-grobarhet {
    position: relative;

    .lm__info {
        position: absolute;
        color: $body-text-color;
        right: 0;
        top: -30px;
    }

    > table {
        margin: 15px 0;

        tbody tr {
            background-color: $color-white;

            td {
                padding-left: 0;
                @include set-responsive-property('mobile', padding-right, 15px, 40px);

                &:nth-child(1) {
                    @include set-responsive-property('mobile', width, 50%, auto);
                }
            }
        }

        input {
            width: 100%;
            border-radius: 5px;
            padding: 5px;
            outline: 0;
        }

        button {
            @extend .lm__form-btn;
        }
    }
}
