/// <reference path="../_references.scss" />

.lm__chart {
    background: $color-white;
    padding: 15px;

    @include media-query("tablet") {
        padding: 30px;
    }

    h1 {
        font-size: 36px;
        font-family: $font-clarendonurw-reg;
        margin-bottom: 30px;
    }

    .lm__chart-section {
        #lm__chart-dygraphs {
            position: relative;
            z-index: 1;
            pointer-events: none;
        }

        #lm__chart-status {
            display: block;
            padding: 30px;

            > span {
                display: inline-block;
                margin: 0 5px;
            }
        }
    }
}
