/// <reference path="../_references.scss" />

.third-post-block {
    background-color: $third-thumbnail-block-box-background-color;

    .lm__main-block {
        .lm__main-block-item {
            a {
                display: block;
                min-height: 230px;

                .lm__icon {
                    .article-thumbnail {
                        width: auto;
                        height: auto;
                        position: absolute;
                        left: 50%;
                        top: 30%;
                        transform: translate(-50%, -30%);
                        -webkit-transform: translate(-50%, -30%);
                    }

                    &:before {
                        content: "";
                        width: 90px;
                        height: 90px;
                        border-radius: 50%;
                        background-color: $third-thumbnail-block-circle-background-color;
                        position: absolute;
                        left: 50%;
                        top: 30%;
                        transform: translate(-50%, -35%);
                        -webkit-transform: translate(-50%, -35%);
                    }
                }

                .article-title {
                    z-index: 2;
                }
            }
        }
    }
}
