/// <reference path="../_references.scss" />

// ------------------------------------------------------------------------- //
// #GLOBALS
//
// Global settings and spacing units.
// ------------------------------------------------------------------------- //



// Base settings (in pixels)
$base-font-size:                16px;
$base-line-height:              24px;
$base-round:                    2px;


// Base settings (in em)
$base-round-unit:               em($base-round);


// Base spacing units (in em)
$base-spacing-unit:             em(10px);
$base-spacing-unit--tiny:       quarter($base-spacing-unit);
$base-spacing-unit--small:      halve($base-spacing-unit);
$base-spacing-unit--large:      double($base-spacing-unit);
$base-spacing-unit--huge:       quadruple($base-spacing-unit);


// Page header
$page-header-height-desktop:    em(180px);

// News detail
$settings-nav-width-desktop:    em(620px);

$main-content-padding:          em(25px);
$main-content-padding-mobile:   em(15px);

$settings-checkbox-size:        em(24px);
$settings-checkbox-size-2:      em(30px);
$settings-checkbox-size-3:      em(30px);
$settings-avatar-size:          em(110px);

$loader-size:                   em(50px);
$loader-border-size:            em(10px);