/// <reference path="../_references.scss" />

// ------------------------------------------------------------------------- //
// #HEADINGS
//
// Heading variables that are used in _base.headings.scss
// Add more breakpoint specific sizes if the design requires it, or remove
// the existing ones if the size should be the same on all devices.
// ------------------------------------------------------------------------- //



// Heading size 1 (in pixels)
$heading-size-1:            48px;


// Heading size 2 (in pixels)
$heading-size-2:            36px;


// Heading size 3 (in pixels)
$heading-size-3:            30px;


// Heading size 4 (in pixels)
$heading-size-4:            24px;


// Heading size 5 (in pixels)
$heading-size-5:            20px;


// Heading size 6 (in pixels)
$heading-size-6:            16px;
