<div>
    <div>
        <h2>Hej @ViewData["userName"]</h2>
        <h3>Du har bett om att byta lösenord i LM<sup>2</sup>. Detta gör du genom att klicka på länken nedan.</h3>
    </div>
    <div>
        <a href="@ViewData["link"]"> Byt lösenord <i aria-hidden="true"></i></a>
    </div>
    <div>
        Med vänliga hälsningar
        <br />
        Lantmännen
    </div>
</div>
