@section Header{}
@section Footer{}

<section class="lm__contents iam-block">
    <div class="wrapper">
        <div class="layout  layout--large">
            <div class="layout__item u-1/1">
                <div class="lm__center-block type-3">
                    <div class="iam-block__logo">
                        <h1 class="primary clarendonurw-reg-font align-center-text">LM<span class="super-text">2</span></h1>
                        <h2 class="slogan clarendonurw-reg-font align-center-text">Verktyget för jordens entreprenörer</h2>
                    </div>
                    <div class="iam-block__box__wrapper">
                        <div class="iam-block__box">
                            <div class="forgot-password__description">
                                <h2 class="clarendonurw-reg-font align-center-text">Har du glömt ditt lösenord?</h2>
                                <ul id="error-message-label" class="errors-list small-distance-bottom hidden">
                                    <li class="not-list-style">E-postadressen du angav finns inte registerad för någon användare i LM<sup>2</sup>. Vänligen försök igen.</li>
                                </ul>
                                <ol>
                                    <li>Ange din E-postadress och klicka på skicka.</li>
                                    <li>Vänta på instruktioner som skickats till din E-postadress.</li>
                                    <li>Följ instruktionerna för att skapa ett nytt lösenord.</li>
                                </ol>
                            </div>
                            <form method="post" action="/p/SubmitForgotPasswordEmail" class="bankid-block no-border">
                                <div class="author-inform-form__column reset-padding-margin">
                                    <label class="lm__bold-title" for="email">E-post</label>
                                    <input type="email" name="email" id="email" class="e-post width-100" required placeholder="din.epost@example.com" />
                                </div>
                                <!-- If you want to active btn again. Please remove .disabled-btn below -->
                                <input type="submit" class="bank-id__btn custom lm__form-btn reverse-state no-margin" value="Fortsätt" />
                                <br />
                            </form>
                            <div class="layout__item u-1/1 no-padding">
                                <a href="/" class="lm__back-link"><i class="fa fa-arrow-left" aria-hidden="true"></i>Tillbaka</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    $("#email").on("invalid", function (event) {
        event.preventDefault();
        console.log(event);
        $("#error-message-label").removeClass("hidden");
    });
</script>
