@model Gro.ViewModels.PageViewModel<Gro.Core.ContentTypes.Pages.StartPages.StartPage>
@section Header{}
@section Footer{}
<section class="lm__contents iam-block">
    <div class="wrapper">
        <div class="layout  layout--large">
            <div class="layout__item u-1/1">
                <div class="lm__center-block type-3">
                    <div class="iam-block__logo">
                        <h1 class="primary clarendonurw-reg-font align-center-text">LM<span class="super-text">2</span></h1>
                        <h2 class="slogan clarendonurw-reg-font align-center-text">Verktyget för jordens entreprenörer</h2>
                    </div>
                    <div class="iam-block__box__wrapper">
                        <div class="iam-block__box">
                            <form action="/p/ResetPassword" method="post">
                                <h2 class="clarendonurw-reg-font">Skapa nytt lösenord</h2>
                                <div class="author-inform-form__column author-inform-form__column-full reset-padding-margin">
                                    <label class="lm__bold-title" for="e-post">Nytt lösenord *</label>
                                    <input type="password" name="password" class="nytt-losenord width-100" placeholder="Ditt lösenord" />
                                </div>

                                <div class="author-inform-form__column author-inform-form__column-full reset-padding-margin">
                                    <label class="lm__bold-title" for="efternamn">Upprepa nytt lösenord *</label>
                                    <input type="password" name="confirmPassword" class="upprepa-nytt-losenord width-100" placeholder="Ditt lösenord" />
                                </div>
                                <input hidden type="hidden" name="payload" value="@ViewData["payload"]" />
                                <input type="submit" class="lm__form-btn reverse-state width-100" value="Uppdatera" />
                            </form>
                        </div>
                        <div class="change-password__description">
                            <p style="color:red;">@ViewData["error"]</p>
                            <h2 class="lm__bold-title">Krav för nytt lösenord</h2>
                            <p>Du måste ha haft fem unika lösenord innan du kan använda ett gammalt lösenord igen. Lösenordet måste innehålla minst 8 tecken</p>
                            <p>Varav minst tre av följande teckentyper</p>
                            <ul>
                                <li>* Minst två siffror</li>
                                <li>* Stora bokstäver</li>
                                <li>* Små bokstäver</li>
                                <li>* Skiljetecken</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
