@using Gro.Helpers;
@{
    var link = string.Format("resetpassword?payload={0}", ViewData["payload"]);
}
@section Header{}
@section Footer{}
<section class="lm__contents iam-block">
    <div class="wrapper">
        <div class="layout  layout--large">
            <div class="layout__item u-1/1">
                <div class="lm__center-block type-2">
                    <div class="iam-block__logo">
                        <h1 class="primary clarendonurw-reg-font align-center-text">LM<span class="super-text">2</span></h1>
                        <h2 class="slogan clarendonurw-reg-font align-center-text">Verktyget för jordens entreprenörer</h2>
                    </div>
                    <div class="iam-block__box__wrapper">
                        <div class="iam-block__box">
                            <h2 class="clarendonurw-reg-font">Lösenord skickat</h2>
                            <p class="lm__bold-title">Ett tillfälligt lösenord har skickats till <a>@ViewData["email"]</a> </p>
                        </div>
                        @if (Html.IsDebug())
                        {
                            <a target="_self" href="@link">Reset</a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
